@import "tailwindcss";

@font-face {
  font-family: "Vazir";
  font-style: normal;
  src: url("/font/Vazirmatn-Regular.woff2") format("woff2");
}

:root {
  font-family: "Vazir";
}


body {
  background-color: #2d3748 ;
  color: white;
  font-family: "Vazir";
}

@layer base {
  .hoverEffect {
    @apply transition-all duration-300 ease-in-out;
  }
}